.metadata
bin/
target/
tmp/
lib/
nbproject/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.project
.classpath
Thumbs.db
.svn/
*.class

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific (C/C++ Development Tooling)
.cproject

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/
